<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_response</servlet-name>
        <servlet-class>login_response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_response</servlet-name>
        <servlet-class>signup_response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_cart_item</servlet-name>
        <servlet-class>delete_cart_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorder</servlet-name>
        <servlet-class>placeorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginresponse</servlet-name>
        <servlet-class>adminloginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchlogic</servlet-name>
        <servlet-class>searchlogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search_logic</servlet-name>
        <servlet-class>search_logic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_response</servlet-name>
        <url-pattern>/login_response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_response</servlet-name>
        <url-pattern>/signup_response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_cart_item</servlet-name>
        <url-pattern>/delete_cart_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginresponse</servlet-name>
        <url-pattern>/adminloginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchlogic</servlet-name>
        <url-pattern>/searchlogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_logic</servlet-name>
        <url-pattern>/search_logic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
